
.header{
	background-color:#4949a9;
	padding-top:42;
	padding-bottom:53;
	color:white;
	width:100%;
	font-family:calibri;
}
.header .head{
	font-size:21px;
	margin-top:-50;
	margin-left:60px;
	color:white;
	float:left;
}
.header .email{
	color:white;
	float:left;
	font-size:18px;
	margin-top:-32px;
}
.header .email #email{
	margin-top:5px;
	width:190;
}
.header .pass #pass{
	margin-top:5px;
	width:190;
}
.header .pass #submit{
	margin-left:21px;
	padding-top:2;
	padding-bottom:2;
	background-color:#5f5fc7;
	color:white;
	border:1px solid blue;
}
.header .pass{
	font-size:18px;
	float:right;
	margin-left:0px;
	margin-top:-32px;
}
.mid{
	margin-top:0px;
}
.mid .midside{
	background-color:#80808029;
	height:85%;
}
.mid .create{
	background-color:#80808029;
	height:85%;
}
.mid .create .crt{
	margin-top:-15;
}
.mid .create .free{
	color:grey;
	margin-top:-15;
}
.mid .create #first{
	border-radius:8px;
	border:2px solid white;
	padding:5px;
	font-size:18;
	width:250;
	height:40;
}
.mid .create #last{
	border-radius:8px;
	border:2px solid white;
	padding:5px;
	font-size:18;
	width:250;
	height:40;
	margin-left:10;
}
.mid .create #mobile{
	border-radius:8px;
	border:2px solid white;
	padding:5px;
	font-size:18;
	width:513;
	height:40;
	margin-top:16;
}
.mid .create #pass{
	border-radius:8px;
	border:2px solid white;
	padding:5px;
	font-size:18;
	width:513;
	height:40;
	margin-top:16;
}
.mid .create .dob{
	margin-top:-10;
}
.mid .create .dob #day{
	border:2px solid #8080809c;
	height:32;
	background-color:#9e9e9e47;
}
.mid .create .dob #month{
	border:2px solid #8080809c;
	height:32;
	margin-left:-6px;
	background-color:#9e9e9e47;
}
.mid .create .dob #year{
	border:2px solid #8080809c;
	height:32;
	margin-left:-6px;
	background-color:#9e9e9e47;
}
.mid .create .gender{
	margin-top:22px;
	font-size:20;
}
.mid .create .gender #female{
	margin-left:20px;
}
.mid .create .terms{
	margin-top:25px;
}
.mid .create .sign{
	margin-top:25px;
}
.mid .create .sign #signup{
	padding:6px 65px;
	border:3px solid green;
	color:white;
	background-color:#228e22db;
}
.mid .midside{
	font-size:30px;
	text-align:center;
}